body{
    color:#333;
    font-family: sans-serif;
}

input{
    display: block;
    width: 90%;
    padding: 6px;
    margin: 9px 5%;
    box-sizing: border-box;
}

input[type="submit"]{
    width:50%;
}

input::placeholder{
    color:#333;
}
form{
    width: 86%;
    margin:auto;
    background: rgb(41, 40, 40);
    padding: 30px;
}

.green{
    color:#9c9;
}
.red{
    color:#c99;
}